.mobileMenu {
  width: 100%;
}

.menuButton {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.toggleBtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 1000;
  
  svg {
    margin: 0 0.5rem;
  }
}

.closeBtn{
  position: absolute!important; 
  top: 0;
  right: 0;
  margin: 0.5rem;
}

.active {
  left: 0 !important;
  transition: 400ms;
}

.menuItems {
  background-color: white;
  position: absolute;
  left: -100%;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 400ms;
  width: 100%;
  height: 100%;

  li {
    margin: 2.5rem 1rem;
    
    button {
      font-size: 1.5rem;
      background-color: var(--primary-300);
      border-radius: 2rem;
      border: none;
      padding: 0.8rem 2.5rem;
      color: var(--neutral-0);
      transition: 300ms;
  
      &:hover {
        scale: 1.05;
      }
    }
  }

}

.stroke {
  a {
    position: relative;
    padding: 10px 20px;
    border: none;
    background: none;
    font-size: 18px;
    color: var(--primary-100);
    font-weight: 600;

    &,
    &:after,
    &:before {
      transition: all 0.5s;
    }

    &:after {
      position: absolute;
      bottom: 0px;
      left: 0;
      margin: auto;
      width: 0%;
      content: '';
      background: var(--primary-100);
      z-index: -1;
      height: 2px;
    }

    &:hover:after {
      width: 100%;
    }

    &:hover {
      scale: 1.05;
      background-color: transparent;
    }
  }
}


.userIcon {
  width: 6rem;
  cursor: pointer;
  transition: 300ms;

  &:hover {
    scale: 1.05;
  }

  img {
    border-radius: 50%;
    cursor: pointer;
    width: 4.5rem;
    height: 4.5rem;
    padding: 0.4rem;
    background-color: #e4e6e5;
  }
}

.dropdownMenu {
  position: absolute;
  top: 6rem;
  background-color: var(--primary-100);
  border-radius: 1rem;
  padding: 1rem 2rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  
  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -5px;
    left: 1.2rem;
    height: 2rem;
    width: 2rem;
    background: var(--primary-100);
    transform: rotate(45deg);
  }

  h3 {
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    padding: 2rem 0;
    font-weight: 500;
    color: var(--neutral-0)!important;
    line-height: 1.2rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;

    li {
      padding: 1rem 0;
      color: var(--neutral-0) !important;
      transition: 300ms;
      margin: 0 !important;

      &:hover {
        scale: 1.05;
        cursor: pointer;
      }

      &:hover a {
        cursor: pointer;
      }

      &:hover svg {
        opacity: 1;
        cursor: pointer;
      }

      a {
        &:hover:after {
          width: 0% !important;
        }
      }
    }
  }
}

.dropdownItem {
  display: flex;
  margin: 1rem auto;

  svg {
    max-width: 2rem;
    margin-right: 1rem;
    opacity: 0.5;
    transition: 300ms;
  }

  a {
    transition: 300ms;
    color: var(--neutral-0) !important;
    white-space: nowrap;
    padding: 0;
  }
}

.dropdownMenu.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 300ms ease;
}

.dropdownMenu.closed {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-2rem);
  transition: 300ms ease;
}

.accountDetails{
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;

  display: flex;
  gap: 1rem;
  align-items: center;

  p{
    background-color: var(--primary-100);
    border-radius: 1.6rem;
    color: var(--neutral-0);
    font-weight: 500;
    font-size: 1.4rem;
    padding: 0.4rem 0.8rem;
  }
}

@media (min-width: 768px) {
  .mobileMenu {
    display: none !important;
  }
}
