.modal {
  position: absolute;
  background: var(--neutral-900);
  color: var(--neutral-50);
  margin: auto;
  padding: 3rem 2rem 2rem;
  max-width: 60rem;
  min-width: 50rem;
  height: calc(100vh - 4rem);

  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}
.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  fill: var(--primary-100);
  transition: all 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
    scale: 1.05;
  }
}

@media (max-width: 768px) {
  .modal {
    width: 95%;
    min-width: unset!important;
  }
}
